<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
    {% load static %}
 <link rel="stylesheet" href="{% static "CSS/loginRegister.css" %}">
</head>
<body>
<div class="Content">
  <div id="formContent">
    <h2> Register </h2>

    <form action="../Register/" method="post">
        {% csrf_token %}
      <input type="text" id="name" name ="name" placeholder="name">
      <input type="text" id="email" name="email" placeholder="email">
      <input type="text" id="password" name="password" placeholder="password">
      <input type="text" id="phoneNumber" name="phoneNumber" placeholder="phoneNumber">
      <input type="submit" name="submitButton" value="Register">
    </form>

    <div id="footer">
        <h4>Already registered ? <a href="../Login/">Login</a></h4>
    </div>

  </div>
</div>

</body>
</html>