<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
    {% load static %}
 <link rel="stylesheet" href="{% static "CSS/loginRegister.css" %}">
</head>
<body>
<div class="Content">
  <div id="formContent">
    <h2> Register </h2>

    <form>
      <input type="text" id="name" placeholder="name">
      <input type="text" id="email"  placeholder="email">
      <input type="text" id="password"  placeholder="password">
      <input type="text" id="phoneNumber"  placeholder="phoneNumber">
      <input type="submit" value="Register">
    </form>

    <div id="footer">
        <h4>Already registered ? <a href="#">Login</a></h4>
    </div>

  </div>
</div>

</body>
</html>