html {
  background-color: #735DA5;
}


body {
  margin: 0px;
  font-family:  sans-serif;
  height: 100vh;
}

.navbar {
  height: 50px;
  width: 100%;
  background-color: #D3C5E5;
  position: relative;
}

.navbar-title {
  display: inline-block;
  font-size: 22px;
  color: white;
  padding: 10px 10px 10px 10px;
}

.links {
  display: inline;
  float: right;
  font-size: 18px;
}

a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: white;
}

a:hover {
  background-color: #735DA5;
  transition: 0.5s ease-in-out;
  border-radius: 20px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
}
.content{
  width: 350px;
  align-content: center;
}

input[type=button]  {
  background-color: #D3C5E5;
  width: 300px;
  border: none;
  color: white;
  padding: 15px 80px 15px 80px;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  transition: all 0.5s ease-in-out;
}

input[type=button]:hover  {
  background-color: #735DA5;
}
* {
  box-sizing: border-box;
}





