<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DashBoard</title>
    {% load static %}
 <link rel="stylesheet" href="{% static "CSS/DashBoard.css" %}">
</head>
<body background="{% static "CSS/background2.png" %}" >
<div class="navbar">
    <div class="navbar-title">
      RideOnWay
    </div>

  <div class="links">
    <a href="../DashBoard/" >Home</a>
    <a href="../myRidesAsADriver/" >My Rides as Driver</a>
    <a href="../myRidesAsAPassenger/" >My Rides as Passenger</a>
    <a href="../Login/" >Logout</a>
  </div>
</div>

<div class="container">
    <div class="content">

        <input type="button" class = "createRide" value="Create a Ride" id ="createRide">
        <script type="text/javascript">
            document.getElementById("createRide").onclick = function () {
                location.href = "../createRide";
            };
        </script>
        <input type="button" class = "requestRide" value="Request for a Ride" id="requestRide">
        <script type="text/javascript">
            document.getElementById("requestRide").onclick = function () {
                location.href = "../requestRide";
            };
        </script>
    </div>
</div>
</body>
</html>